# .gitignore config
__pycache__/
# *.pyc, *.pyo, *.pyd
*.py[cod] 

# env
env
.env

# venv
venv/
.venv/

# ipynb checkpoints
.ipynb_checkpoints/
/notebooks/.ipynb_checkpoints/

# Jupiter Kernel
.jupyter_kernel/

# Other
# /models/
downloads/
lib/
# /data/
var/
.cache
*.log
# *.db
data/vet_clinic.db
*.rdb

# IDE
.idea
.vscode/

.DS_Store
